<!DOCTYPE html>
</html>
     <head>
          <title> Result </title>
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <style>
              @media screen and (max-width:481px){
                  button{height:1.5cm;width:2.5cm;font-size:25px;font-weight:bold;}
              }
          </style>
     </head>
     <body style='background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHt96e36kZtmjwuAz_X3UHyhw-ujjduT1s_g&usqp=CAU)'>
        <div style='padding=110px'>
               <p style='font-size:60px'> THE ANSWER IS   </p>
               <br>

               <ul>
                   <div style="background-color:gray;border:solid black;border-radius:15px 15px 15px;">
                   <li style="font-size:40px;text-align:center">{{mmm}}</li>
                   </div>
               </ul>
        <a href='{%url "emath:difx"%}' style='text-decoration:none'><button style="height:1.5cm;width:2.5cm;border:solid black;border-radius:10px;box-shadow:2px 2px 2px 2px black">RETRY</button></a>
        </div>
    </body>
</html>