<!DOCTYPE html>
<html>
   <head>
      <title>SOLVING QUADRATIC EQUATION</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <style>
          @media screen and (max-width:481px){
              button{height:2.5cm;}
              form{font-size:40px;}

          }

      </style>
   </head>
   <body style='background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7sXPstkEi6gGwnjGsQSnzd8_8CVdnzfgaOQ&usqp=CAU)'>
         <marquee style='background-color:pink;height:1.5cm;font-size:50px'>DISCLAIMER :  ENTER THE CORRECT VALUES !!</marquee>

         <form style='padding:40px;width:max-width;font-size:26px ;font-weight:bold;font-size:25px' action='{%url "emath:quadratic" %}' method=POST>
            {%csrf_token%}
              <br></br>
                {% for field in form  %}
    {{ field.errors }}
    <li style='font-size:30px'> {{ field.label_tag }} {{ field }} </li>
    <br>

  {% endfor %}

           <input type='submit' style="height:1.5cm;width:3cm;background-color:yellow;font-size:25px;border:solid black;border-radius:10px;box-shadow:3px 3px 3px 3px black">
         </form>
    </body>
</html>
