<!DOCTYPE html>
</html>
     <head>
          <title> Result </title>
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <style>
              @media screen and (max-width:481px){
                  button{height:1.5cm;width:2.5cm;font-size:25px;font-weight:bold;box-shadow:2px 2px 2px 2px black}
              }
          </style>
     </head>
     <body style='background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHt96e36kZtmjwuAz_X3UHyhw-ujjduT1s_g&usqp=CAU")'>
        <div style='padding=110px'>
               <p style='font-size:60px'> THE ROOTS ARE   </p>
               <ul>
                   {%for ress in res%}
                         <li style='font-size:30px'>{{ress}}</li>
                         <br>
                   {%endfor%}
                </ul>
        <a href='{%url "emath:quadratic"%}' style='text-decoration:none'><button>RETRY</button></a>
        </div>
    </body>
</html>
